<div class="auth main-container">
  <div class="content-box">
    <h1>Login</h1>

    <form action="/login" method="POST" id="form-container">
      {{#if message }}
        <div class="error-message">{{ message }}</div>
      {{/if}}

      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="JohnSnow">

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="">

      <button class="button">Login</button>

      <p class="account-message">
        Don't have an account yet?
        <a class="link" href="/signup">Signup</a>
      </p>

    </form>
    <p><a class="link" href="/">Back to home</a></p>

  </div>
</div>