<div class="auth main-container">
  <div class="content-box">
    <h1>Welcome</h1>

    <div class="options">
      <a href="/game">Single Player</a>
      <a href="/game">Multiplayer</a>
      <a href="/profile">Profile</a>
      <a href="/ranking">Ranking</a>
    </div>
    <a class="link" href="/logout">Logout</a>
  </div>
</div>