<div class="auth main-container">
  <div class="content-box main">
    <h1>Welcome</h1>

    <div class="options">
      <a class="button" href="/game">Single Player</a>
      {{!-- <a class="button" href="/game">Multiplayer</a> --}}
      <a class="button" href="/profile/{{user.id}}">Profile</a>
      <a class="button" href="/ranking">Ranking</a>
    </div>
    <a class="link" href="/logout">Logout</a>
  </div>
</div>