<div class="auth main-container">
<<<<<<< HEAD
  <div class="content-box main">
    <h1>Welcome</h1>
=======
  <div class="content-box">
    <h1>{{title}}</h1>
>>>>>>> 9a1360df7b752220febd692f71a3cc738ed81aed

    <div class="options">
      <a class="button" href="/game">Play</a>
      {{!-- <a class="button" href="/game">Multiplayer</a> --}}
      <a class="button" href="/profile/{{user.id}}">Profile</a>
      <a class="button" href="/ranking">Ranking</a>
    </div>
    <a class="link" href="/logout">Logout</a>
  </div>
</div>