<div class="auth main-container">
  <div class="content-box">
    <h1>Signup</h1>

    <form action="/signup" method="POST" id="form-container" enctype="multipart/form-data">

      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="Your username">

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Your password">

      <label for="confirm-password">Confirm password</label>
      <input id="confirm-password" type="password" name="confirm-password" placeholder="Confirm your password">

      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="Your email">

      <label for="photo">Photo</label>
      <input type="file" name="photo" id="photo">

      <button class="button">Create account</button>

      <p class="account-message">
        Do you already have an account?
        <a class="link" href="/login">Login</a>
      </p>
    </form>
    <p><a class="link" href="/">Back to home</a></p>
  </div>
</div>