body {
  min-height: 100vh;
  
  font-size: 16px;
  background-color: $white;
  color: $black;
  overflow-x: hidden;
}

* {
  transition: all .2s ease-in-out;
  box-sizing: border-box;
}

/*---------------------------------*/
/*------------ FONTS --------------*/
/*---------------------------------*/
body {
  @include open-sans;
}

h1 {
  @include poppins;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

a.link {
  @include open-sans-bold;
  text-decoration: none;
  color: $blue-button;

  &:hover {
    color: darken($blue-button, 20%);
  }
}