/*---------------------------------*/
/*----------- COLORS --------------*/
/*---------------------------------*/

/* GENERAL ----------------------- */
/* ------------------------------- */
$white: #FAFAFA;
$black: #212121;

/* CATEGORIES -------------------- */
/* ------------------------------- */
$general: #FFEB3B;
$entertainment: #F44336;
$science-nature: #4CAF50;
$art: #673AB7;
$history-geography: #03A9F4;
$sports: #FF9800;

/*---------------------------------*/
/*------------ FONTS --------------*/
/*---------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:500');

@mixin open-sans {
  font-family: 'Open Sans', sans-serif;
}

@mixin poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}