.game-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  opacity: 0;
  transition: all .2s ease-in-out;

  * {
    transition: all .2s ease-in-out;
  }
}

.game {
  form#new-game {

    label {
      text-align: left;
    }

    > label {
      opacity: .7;
      text-transform: uppercase;
      font-size: .8rem;
    }

    button {
      margin-bottom: 1.5rem;
    }
  }

  .button.simple {
    margin: .5rem .3rem;
  }

  .newgame {
    display: block;
  }
  
  p.completed {
    font-size: 1.8rem;
    margin: 1rem;
    margin-bottom: 2rem;
    font-weight: 700;
  }

  p.total, p.questions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  p.points {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;

    span.number {
      margin-top: .5rem;
      font-size: 1.7rem;
    }

    span.label {
      text-transform: uppercase;
      font-size: 1rem;
      opacity: .8;
    }
  }

  p.total span.label, p.questions span.label {
    text-transform: uppercase;
    opacity: .8;
    font-size: .9rem;
  }

  p.total span.number, p.questions span.number {
    font-size: 1.2rem;
  }
}

.questionInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;

  p {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  p.category {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .025rem;
    margin-right: 2rem;
  }

  p.difficulty {
    opacity: .9;
  }

}

.responses {
  margin-bottom: 3rem;
}

.rounds {
  position: absolute;
  bottom: 0;
  right: 2rem;
  text-transform: uppercase;
  opacity: .7;
  font-size: .8rem;
}


.questionresult {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;


  img {
    height: 5rem;
    width: 5rem;
    margin-top: 1.5rem;

  }
}

.correctanswer {
  font-size: 1.1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  span {
    font-weight: 500;
    display: block;
    margin-top: .5rem;
  }
.time {
  position: absolute;
  bottom: 0;
  left: 2rem;
  font-size: 1.5rem;
  font-weight: 600;

  
}

.linkingame {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 1rem;
}